@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-header {
  font-weight: bold;
  background-color: #ffffff;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.site-logo {
  width: 140px;
  height: 72px;
}

.site-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: #000000;
  transition: 0.3s;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

li.selected a {
  color: #766357;
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}

.reasons-small-wrapper {
  display: flex;
  justify-content: center;
}

.welcome-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
  background-image: url("../img/intro-background.jpg");
  background-color: #575258;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-text {
  background-color: #ffffff;
  margin-bottom: 57px;
}

.welcome-text-small {
  text-align: center;
  color: #333333;
}

.text-bold {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}

.text-thin {
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.reasons {
  margin-left: 40px;
  margin-right: 40px;
}

.reasons-big {
  background-color: #81b3d2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;
  height: 255px;
}

.reasons-big-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reasons-big-content h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: white;
}

.reasons-big-content p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: white;
}

.reasons-small {
  width: 400px;
  margin-bottom: 98px;
}

.reasons-small h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.advices-list {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.advices-list-item {
  width: 400px;
}

.advices-list h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.search-booking-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 40px;
}

.search-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 576px;
}
.search-booking p {
  margin-bottom: 50px;
}

.search-booking b {
  font-size: 30px;
  line-height: 36px;
  color: black;
}

.search {
  display: flex;
  flex-direction: column;
}

p.search-date input {
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}

.button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: white;
}

.button-grey {
  background-color: #766357;
}

.button-blue {
  background-color: #81b3d2;
}

.search-booking button {
  font-weight: bold;
  font-size: 21px;
  padding: 35px 140px;
}

.search-booking .button:hover,
.search-booking .button:focus {
  background-color: #604e43;
}

.search-booking .button:active {
  background-color: #503e33;
}

.guests-amount {
  border: none;
}

.search {
  text-align: center;
}

.search .button {
  font-weight: bold;
  font-size: 21px;
  padding: 17px 195px;
  width: 458px;
  margin: 0 auto;
}

.search .button:hover,
.search .button:focus {
  background-color: #669ec0;
}

.search .button:active {
  background-color: #5496bd;
}

.search p {
  font-weight: bold;
}
.map {
  display: flex;
  justify-content: center;
}
.main-footer {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}

.main-footer a {
  color: black;
}

.main-footer-hashtag {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}

.main-footer-social {
  list-style: none;
  text-align: center;
}

.main-footer-social li {
  display: inline-block;
}

.social-button {
  font-size: 0px;
  display: inline-block;
  background-color: #81b3d2;
  background-size: cover;
  width: 46px;
  height: 48px;
}

.social-tw {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-size: 17px 15px;
  background-position: center;
}

.social-fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: center;
}

.social-yt {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.main-footer-developer {
  text-align: center;
}

.developer-logo {
  background-image: url("../img/html-academy.svg");
  background-repeat: no-repeat;
  background-size: 115px 41px;
  background-position: center;
  font-size: 0px;
  width: 115px;
  height: 41px;
  display: inline-block;
  filter: invert(100%);
}

/*inner page*/

.filter {
  background-image: url("../img/intro-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #81b3d2;
}

.filter-list {
  list-style: none;
}

.filter-form {
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  color: white;
}

.price-form h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-form output {
  font-size: 14px;
  line-height: 21px;
}

.text-range {
  font-size: 14px;
  line-height: 21px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.button-white {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: white;
  border: solid 2px white;
  background-color: rgba(0, 0, 0, 0);
  padding: 9px 32px;
}

.search-result .search-result-count {
  font-size: 21px;
  font-weight: bold;
}

.search-result h3 {
  font-weight: bold;
  font-size: 21px;
}

.search-result-sort {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.search-result-sort .sort-type {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted 1px #81b3d2;
}

.search-result-sort a:hover,
.search-result-sort a:focus {
  color: #81b3d2;
}

.search-result-sort a:active {
  color: black;
}

.result-item-name {
  color: black;
}

.result-item-name:hover,
.result-item-name:focus {
  color: #81b3d2;
}

.result-item-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.selected .sort-type {
  color: #81b3d2;
  border: none;
}

.search-result-list {
  list-style: none;
}

.search-result-list .button {
  line-height: 21px;
  font-weight: bold;
  padding: 7px 16px;
}

.search-result-list p,
.search-result-list span {
  line-height: 21px;
  color: #333333;
}

.search-result-list .rating-text {
  line-height: 21px;
  color: #666666;
}

.star {
  background-image: url("../img/star.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 18px;
  height: 17px;
}

.arrow {
  display: inline-block;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
}

.arrow:hover,
.arrow:focus {
  background-image: url("../img/arrow-hover.svg")
}

.arrow:active {
  background-image: url("../img/arrow-active.svg");
}

.down {
  transform: rotate(180deg);
}
