@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-width: 768px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-shadow {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  width: 100%;
  max-width: 1200px;
  position: relative;
}

a {
  text-decoration: none;
}

.main-header {
  font-weight: bold;
  background-color: #ffffff;
}

.main-navigation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-logo {
  position: absolute;
  z-index: 1;
  width: 140px;
  height: 72px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  max-width: 1056px;
  padding: 0;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 14px;
  margin-left: 6%;
  margin-right: 6%;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-left: 31px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:nth-child(4) {
  margin-left: 32px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  vertical-align: middle;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.site-navigation a:focus,
.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

li.selected a {
  color: #766357;
}

.welcome-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.reasons-small-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #eeeeee;
}

.welcome-background {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/intro-background-small.jpg");
  background-color: #575258;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 28%;
  min-height: 507px;
}

.welcome-background::before {
  content: "";
  background-image: url("../img/polygon-mask.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  min-height: 57px;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.welcome-text {
  background-color: #ffffff;
}

.welcome-text p {
  margin: 0 auto;
  padding: 62px 0 0;
}

.welcome-text p.text-bold {
  max-width: 460px;
}

.welcome-text .welcome-text-small {
  padding-top: 28px;
  padding-bottom: 49px;
}

.welcome-text-small {
  text-align: center;
  color: #333333;
}

.text-bold {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}

.text-thin {
  z-index: 1;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.reasons-img-wrapper {
  width: 66.6%;
  overflow: hidden;
  max-height: 257px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/*.reasons-img-wrapper img {
  width: 100%;
}*/

.reasons-big img {
  width: 100%;
}

.reasons-big {
  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.reasons-big-content {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 39px;
  /*39 58*/
}

.reasons-big-content:last-child {
  padding-top: 46px;
}

.reasons-big-content h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: white;
}

.reasons-big-content p {
  margin: 0;
  padding: 23px 0 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: white;
  max-width: 305px;
}

.reasons-small {
  width: 33.3%;
  padding-top: 46px;
  padding-bottom: 57px;
}

.reasons-small h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  max-width: 155px;
  margin: 0 auto;
  padding: 0;
}

.reasons-small .text-thin {
  max-width: 259px;
  text-align: center;
}

.reasons-small p {
  padding: 0;
  margin: 0 auto;
  padding-top: 23px;
}

.advices-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advices-list-item {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 83px;
}

.advices-list-item h3 {
  padding: 0;
  margin: 0;
  padding-top: 29px;
}

.advices-list-item p {
  padding: 0;
  margin: 0;
  max-width: 72%;
  padding-top: 24px;
}

.house::before {
  content: url("../img/icon-house.svg");
  width: 75px;
  height: 77px;
  display: block;
  margin-bottom: 22px;
  margin-top: -22px;
}

.food::before {
  content: url("../img/icon-food.svg");
  width: 75px;
  height: 77px;
  display: block;
  margin-top: -21px;
  margin-bottom: 21px;
}

.gifts::before {
  content: url("../img/icon-gifts.svg");
  height: 77px;
  display: block;
  margin-top: -26px;
  margin-bottom: 26px;
}

.advices-list h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.search-booking-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.search-booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 52px;
  width: 100%;
}

.search-booking b {
  z-index: 1;
}

.search-booking p {
  margin: 0;
  padding: 22px 0 48px;
  line-height: 24px;
}

.search-booking b {
  font-size: 30px;
  line-height: 36px;
  color: black;
}

a.hotel-button {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 21px;
  width: 100%;
  max-width: 576px;
  padding-top: 31px;
  padding-bottom: 29px;
}

.search-booking .button:focus,
.search-booking .button:hover {
  background-color: #604e43;
}

.search-booking .button:active {
  background-color: #503e33;
}

p.search-date input {
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  background-color: #f2f2f2;
  line-height: 26px;
  padding: 0;
  margin: 0;
  padding-left: 11px;
  padding-top: 1px;
  margin-bottom: 15px;
  min-width: 336px;
  min-height: 38px;
}

p.search-date input:first-child {
  padding-top: 5px;
}

.search-date:nth-child(1) {
  margin-top: 55px;
}

.search-date:nth-child(2) {
  margin-top: 13px;
  margin-bottom: 13px;
}

p.search-date label {
  max-width: 95px;
  padding-bottom: 15px;
  padding-right: 19px;
  word-wrap: break-word;
}

.calendar-icon {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 22px;
  position: absolute;
  right: 9px;
  top: 50%;
  -webkit-transform: translate(0,-85%);
  -ms-transform: translate(0,-85%);
  transform: translate(0,-85%);
}

.calendar-icon svg {
  color: #cacaca;
}

.calendar-icon:focus svg,
.calendar-icon:hover svg {
  color: black;
}

.calendar-icon:active svg {
  color: #81b3d2;
}

.search-buttons-wrapper button:focus,
.search-buttons-wrapper button:hover {
  color: black;
}

.search-buttons-wrapper button:active {
  color: #81b3d2;
}

.adults {
  margin: 0;
  padding-right: 40px;
  padding-top: 3px;
  max-width: 74px;
  word-wrap: break-word;
  display: block;
}

.input-wrapper {
  position: relative;
}

.minus {
  font-size: 38px;
  line-height: 32px;
  max-width: 26px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  position: absolute;
  top: 0;
  left: 6px;
  margin: 0;
  padding-top: 2px;
}

.plus {
  max-width: 25px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  font-size: 24px;
  line-height: 32px;
  border: none;
  margin: 0;
  padding-top: 4px;
  position: absolute;
  right: 7px;
  top: 0;
}

.button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: white;
}

.button-grey {
  background-color: #766357;
}

.button-blue {
  background-color: #81b3d2;
}

.modal-wrapper {
  position: relative;
  z-index: 1;
}

.modal-wrapper .button-grey {
  min-width: 568px;
}

.guests-amount {
  padding: 4px 0 2px;
  width: 113px;
  min-height: 33px;
  border: none;
  font-weight: bold;
  color: black;
  line-height: 26px;
  font-size: 14px;
  background-color: #f2f2f2;
  text-align: center;
}

.search-buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  line-height: 26px;
  position: relative;
  margin-left: 56px;
  margin-right: 54px;
  text-align: left;
}

.search {
  position: absolute;
  text-align: center;
  min-width: 568px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-animation: modal-animation 0.8s;
  animation: modal-animation 0.8s;
  display: none;
}

.search-on {
  display: block;
}

.no-js {
  display: block;
}

.modal-error {
  -webkit-animation: shake 0.8s;
  animation: shake 0.8s;
}
@-webkit-keyframes modal-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
  }
}
@keyframes modal-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
  }
}

.map iframe {
  width: 100%;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.search .button {
  font-weight: bold;
  font-size: 21px;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 458px;
  margin: 54px auto 55px;
}

.search .button:focus,
.search .button:hover {
  background-color: #669ec0;
}

.search .button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 26px;
  margin-left: 56px;
  margin-right: 54px;
}

.children-amount-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-wrap: break-word;
  margin-left: 54px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.childrens {
  margin: 0 28px 0 0;
  max-width: 39px;
}

.adults-amount-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-wrap: break-word;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.map {
  background-image: url("../img/map.png");
  background-size: 1280px 747px;
  z-index: 0;
  overflow: hidden;
  max-height: 594px;
  width: 100%;
  position: relative;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 38px;
  padding-top: 35px;
}

.main-footer a {
  color: black;
}

.main-footer-hashtag {
  padding: 0;
  margin: 0;
  /*padding-bottom: 50px;
  padding-top: 48px;*/
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 33.3%;
}

.main-footer-hashtag {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}

.main-footer-social {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-footer-social li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

.social-button {
  display: inline-block;
  vertical-align: middle;
  background-color: #81b3d2;
  background-size: cover;
  width: 46px;
  height: 48px;
}

.social-tw {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-size: 17px 15px;
  background-position: center;
}

.social-fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: center;
}

.social-yt {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: center;
}

.social-button:focus,
.social-button:hover {
  background-color: #669ec0;
}

.social-yt:active {
  background-color: #5496bd;
  background-image: url("../img/youtube-click.svg");
}

.social-fb:active {
  background-color: #5496bd;
  background-image: url("../img/fb-click.svg");
}

.social-tw:active {
  background-color: #5496bd;
  background-image: url("../img/twitter-click.svg");
}

.main-footer-developer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.main-footer-developer:focus svg,
.main-footer-developer:hover svg {
  color: #81b3d2;
}

.main-footer-developer:active svg {
  color: #bdbbbc;
}

.developer-logo {
  width: 115px;
  height: 41px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
/*inner page*/

.filter {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #81b3d2;
  background-position-y: 17%;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 4px 0 7px;
}

fieldset:last-of-type .filter-list {
  padding-left: 2px;
}

.filter-list-item {
  padding-bottom: 24px;
  padding-top: 1px;
}

.filter-list-checkbox {
  position: relative;
  padding-left: 41px;
  cursor: pointer;
  padding-top: 3px;
}

.filter-list label[for="filter-apparts"] {
  padding-left: 38px;
}

.filter-list-checkbox input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-list-checkbox input[type="checkbox"]:checked+.checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
}

.filter-list-checkbox input[type="checkbox"]:disabled+.checkbox-indicator {
  background-image: url("../img/checkbox-disabled.svg");
}

.filter-list-checkbox input[type="checkbox"]:disabled:checked+.checkbox-indicator {
  background-image: url("../img/checkbox-checked-disabled.svg");
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: white;
  padding-left: 53px;
  padding-right: 72px;
  padding-top: 28px;
}

.filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 18px;
  width: 22%;
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  color: white;
  padding-bottom: 20px;
}

.price-form {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 319px;
}

.price-form h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-left: 2px;
}

.price-form-input {
  border: 2px solid white;
  position: relative;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.price-form-input .price-form-wrapper:first-child {
  padding-left: 66px;
}

.price-form-wrapper {
  word-wrap: break-word;
}

.price-form-input::after {
  content: "";
  width: 2px;
  height: 22px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-range {
  font-family: "PT sans";
  font-size: 14px;
  line-height: 21px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  text-align: left;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 6px;
  max-width: 81px;
}

.range-wrapper {
  position: relative;
  min-height: 25px;
  margin-top: -1px;
}

.range-wrapper::before {
  content: "";
  height: 2px;
  width: 255px;
  background-color: white;
  position: absolute;
  top: 21px;
}

.range-wrapper::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 21px;
}

.range-button {
  background-image: url("../img/filter-button.svg");
  background-color: transparent;
  border: none;
  width: 20px;
  height: 22px;
  position: absolute;
  top: 12px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.range-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.range-button.max {
  left: 252px;
}

.button-white {
  font-family: "PT sans";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: white;
  border: solid 2px white;
  background-color: rgba(0, 0, 0, 0);
  margin: 30px 96px 30px 85px;
  padding: 6px 34px;
  cursor: pointer;
  border-radius: 2px;
  word-wrap: break-word;
}

.button-white:focus,
.button-white:hover {
  color: black;
  background-color: white;
}

.search-result .search-result-count {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 21px;
  margin-top: 21px;
  margin-right: 48px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.arrows-wrapper {
  margin-left: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.search-result-count-wrapper {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 8px;
}

.search-result h3 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.search-result-list h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.search-result-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.search-result-sort li {
  margin-right: 33px;
}

.search-result-sort .sort-type {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted 1px #81b3d2;
}

.search-result-sort a:focus,
.search-result-sort a:hover {
  color: #81b3d2;
}

.search-result-sort a:active {
  color: black;
  border: none;
}

.result-item-name {
  color: black;
}

.result-item-name:focus,
.result-item-name:hover {
  color: #81b3d2;
}

.result-item-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.selected .sort-type {
  color: #81b3d2;
  border: none;
}

.search-result-list {
  list-style: none;
  margin: 0;
  padding: 0 0 122px;
}

.search-result-list .button {
  line-height: 21px;
  font-weight: bold;
  padding: 4px 17px;
  margin-right: 2px;
}

.search-result-list p,
.search-result-list span {
  line-height: 21px;
  color: #333333;
}

.search-result-list .rating-text {
  line-height: 21px;
  color: #666666;
  margin-top: 38px;
}

.search-result-item {
  padding: 25px 6% 30px;
  margin-top: 10px;
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview {
  margin-right: 30px;
  padding-top: 5px;
}

.search-result-item:nth-child(2) {
  padding-bottom: 29px;
  padding-top: 16px;
}

.search-result-item:nth-child(3) {
  padding-top: 15px;
}

.search-result-item:first-child {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.search-result-item h3,
.search-result-item p,
.search-result-item span {
  margin: 0;
  padding: 0;
}

.search-img-wrapper {
  overflow: hidden;
  max-height: 90px;
}

.stars {
  margin-right: 0;
  margin-top: 4px;
}

.stars .star:nth-child(2n) {
  margin-left: 3px;
}

.search-item-wrapper h3 {
  padding-bottom: 6px;
}

.search-item-wrapper p {
  padding-bottom: 14px;
}

.search-item-wrapper .button-blue:focus,
.search-item-wrapper .button-blue:hover {
  background-color: #669ec0;
}
{
  background-color: #669ec0;
}

.search-item-wrapper .button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-item-wrapper .button-grey:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-item-wrapper .button-grey:focus,
.search-item-wrapper .button-grey:hover {
  background-color: #604e43;
}

.rating {
  margin-left: auto;
  text-align: right;
}

.rating p {
  background-color: #f2f2f2;
  padding: 3px 14px;
}

.star {
  background-image: url("../img/star.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 17px;
}

.arrow {
  display: inline-block;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  vertical-align: baseline;
  width: 11px;
  height: 10px;
  cursor: pointer;
}

.arrow.active {
  background-image: url("../img/arrow-active.svg");
}

.arrow:focus,
.arrow:hover {
  background-image: url("../img/arrow-hover.svg");
}

.arrow:active {
  background-image: url("../img/arrow-active.svg");
}

.up {
  margin-right: -5px;
}

.down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-left: 14px;
}

.date-input:hover {
  background-color: #ebebeb;
}

.date-input {
  text-align: left;
  padding-bottom: 10px;
}

.date-input:focus {
  background-color: white;
  outline: 2px solid #e5e5e5;
}

.item-name-type {
  min-width: 112px;
  display: inline-block;
  vertical-align: middle;
}